main .div1 img{
    width: 100px;
    height: 100px;
    position: relative;
    left: 40%;
    top: 250px;
}
main .div img{
    width: 30%;
    height: 30%;
    position: relative;
    left: 40%;
    top: 100px;
}
main #button1{
    position: relative;
    left: 80%;
    bottom: 100px;
}
main #button2{
    position: relative;
    left: 25%;
    bottom: 100px;
}